# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_WGv5o1iHrSEJ@ep-royal-breeze-ayxx5cn1-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# NextAuth
NEXTAUTH_SECRET="your-nextauth-secret-here"
NEXTAUTH_URL="http://localhost:3000"

# Cloudflare R2
CLOUDFLARE_R2_ACCOUNT_ID="placeholder"
CLOUDFLARE_R2_ACCESS_KEY_ID="placeholder"
CLOUDFLARE_R2_SECRET_ACCESS_KEY="placeholder"
CLOUDFLARE_R2_PUBLIC_BUCKET="placeholder"
CLOUDFLARE_R2_PRIVATE_BUCKET="placeholder"

# Razorpay
RAZORPAY_KEY_ID="rzp_test_Thz0hTpupribzd"
RAZORPAY_KEY_SECRET="SCrFx0KMV1Lw5E2iUhfv3GmJ"


# Resend
RESEND_API_KEY="placeholder"